<!DOCTYPE html>
<html>
<head>
    <style>
        @model BusExp2._0.Models.Result
        @using BusExp2._0.Models
        @using BusExp2._0.DAL
        @{ 

            Onibus b = new Onibus() {
                Nome = "rogerio",
                LatRuaInicial = "-25.429430",
                LonRuaInicial = "-49.271540",
                LatRuaFinal = "-25.406872",
                LonRuaFinal = "-49.252647"


            };
         }
                    /* Set the size of the div element that contains the map */
         #map {
                    height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    
    <!--<h3>My Google Maps Demo</h3>
    <!--The div element for the map 
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            LatRuaFinal = "-25.406872",
              LonRuaFinal = "-49.252647"

            // The location of Uluru
            var uluru = { lat: -25.433350, lng: -49.275560 };
            var arroz = { lat: -25.397240, lng: -49.263390 };
            var coxinha = {
            lat: -25.420660,
            lng: -49.25545
            };
            direction = new GDirections(Gmap, directionPanel);
            // The map, centered at Uluru
            var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
            var marker = new google.maps.Marker({ position: { lat: @b.LatRuaInicial, lng: @b.LonRuaInicial}, map: map});
            // var marker = new google.maps.Marker({ positon: arroz, map: map});

    }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI5TVZ7WbLV9a55VDiQNTrpChA5h6bAYY&callback=initMap"
           @* src="https://maps.googleapis.com/maps/api/directions/json?origin=Toronto&destination=Montreal&key=AIzaSyCI5TVZ7WbLV9a55VDiQNTrpChA5h6bAYY">*@
    </script>-->
    @using (Html.BeginForm("VerRota", "Home", FormMethod.Get))
    {
        <input id="enderecoInicial" type="text" name="enderecoInicial" value="" class="Data" />
        <input id="enderecoFinal" type="text" name="enderecoFinal" value="" class="Data" />
        <input type="submit" name="btnOK" value="OK" />
    }

</body>
</html>
