@using System.Globalization
@using BusExp2._0.DAL
@using BusExp2._0.Models
@using BusExp2._0.Utils

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario u = UsuarioDAO.BuscarUsuarioPorId(Sessao.RetornarUsuario());
    Credito c = CreditoDAO.CreditoPorUsuario(u);
    string aux = ("R$" + c.ValorCredito + "");


}


@if (ViewBag.Alerta != null)
{
    <script type="text/javascript">
        alert('@ViewBag.Alerta');
    </script>
}
<h1>Bem vindo!</h1><br />
<h1>@u.Nome</h1>
<h2>Seu valor de credito atual : @aux </h2>

@Html.ActionLink("Adicionar Credito", "AdicionarCredito", null,null)<b>   </b>@Html.ActionLink("Comprar Passagem", "CompraPassagem")


