@using BusExp2._0.Models
@model BusExp2._0.Models.Ranking


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Ranking> motoristas = ViewBag.Ranking();
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ranking Motoroistas</title>
</head>
<body>
    <div class="row">
        <div id="resumoMotorista" class="col-sm-6">
            <fieldset>
                <legend>Resumo da compra</legend>
                <table class="table table-hover">
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                    @foreach (Ranking i in motoristas)
            {
                        <tr>
                            <td>@i.Motorista.Nome</td>
                            <td>@i.ValorAtribuido</td>
                        </tr>
                                    }
                </table>
            </fieldset>
        </div>
</body>
</html>
